<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="configFragment">
    <meta charset="UTF-8" />
    <!-- 공통으로 쓰이는 css파일을 넣는다.-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">-->
    <link rel="stylesheet" th:href="@{/css/common/project.css}">
    <!-- 공통으로 쓰이는 js 파일을 넣는다.-->
    <script th:src="@{/js/common/project.js}"></script>
    <!--    <script th:src="@{js/jquery-3.6.0.min.js}"></script>-->
    <!--    <script th:src="@{js/bootstrap.min.js}"></script>-->

    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
    <th:block layout:fragment="css"></th:block>
    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <th:block layout:fragment="script"></th:block>
</th:block>

</html>