<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--    <meta charset="UTF-8"/>-->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- 전체적으로 사용할 css, script -->
    <link rel="stylesheet" type="text/css" href="/css/common/project.css">
    <script src="/js/common/project.js" defer></script>
    <th:block layout:fragment="css"></th:block>
    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <th:block layout:fragment="script" ></th:block>
</head>

<header th:replace="fragment/header :: headerFragment"></header>
<div layout:fragment="content"></div>
<footer th:replace="fragment/footer :: footerFragment"></footer>
</html>