<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<header th:fragment="headerFragment">
  <div style="padding-left:16px">
    <h2>Gersang Info</h2>
  </div>
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#about">캐릭터</a>
    <a href="#contact">던전</a>
    <a href="#contact">아이템</a>
    <a href="#contact">상재계산</a>
    <a href="#contact">퀘스트</a>
    <a href="#contact">주술,제작</a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</header>
</html>