<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link rel="stylesheet" type="text/css" href="/css/mainPage/index.css">-->
<!--  <script src="/js/mainPage/index.js" defer></script>-->
  <!-- 해당 html페이지에서만 사용할 css, script -->
  <th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage/index.css}" />
  </th:block>
  <th:block layout:fragment="script">
    <script th:src="@{/js/mainPage/index.js}" defer></script>
  </th:block>

  <div layout:fragment="content">
    <div class="table-list">
      <table th:border="1">
        <tr>
          <th th:rowspan="2">1</th>
          <th>2</th>
          <th>3</th>
        </tr>
        <tr>
          <td th:colspan="2">5</td>
        </tr>
        <tr>
          <td>7</td>
          <td>8</td>
          <td>9</td>
        </tr>
      </table>

    </div>


</html>
