<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link rel="stylesheet" type="text/css" href="/css/mainPage/index.css">-->
<!--  <script src="/js/mainPage/index.js" defer></script>-->
  <!-- 해당 html페이지에서만 사용할 css, script -->
  <th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage/index.css}" />
  </th:block>
  <th:block layout:fragment="script">
    <script th:src="@{/js/mainPage/index.js}" defer></script>
  </th:block>

  <div layout:fragment="content">
    <main>
      <div class="grid grid--large">
        <div class="grid__cell grid__cell-c4-r2 grid__cell--padded">
          <div class="frame">
            <h1 class="frame__title oh"><span class="oh__inner">Grid Zoom Effect</span></h1>
            <nav class="frame__links">
              <a href="" class="oh"><span class="oh__inner">Article</span></a>
              <a href="https://tympanus.net/Development/ParanoiaSlideshow/" class="oh"><span class="oh__inner">Previous demo</span></a>
              <a href="https://github.com/codrops/GridZoom/" class="oh"><span class="oh__inner">GitHub</span></a>
            </nav>
          </div>
        </div>
        <div class="grid__cell grid__cell-c2-r2 grid__cell--padded">
          <a href="https://twitter.com/codrops" class="oh"><span class="oh__inner">@codrops</span></a>
        </div>
        <div class="grid__cell grid__cell-c1-r1">
          <div class="grid__cell-img">
            <div class="grid__cell-img-inner" style="background-image:url(/image/indiaW.jpg)" data-item="item-1"></div>
          </div>
        </div>
        <div class="grid__cell grid__cell-c3-r1">
          <div class="grid__cell-img">
            <div class="grid__cell-img-inner" style="background-image:url(/image/indiaM.jpg)" data-item="item-2"></div>
          </div>
        </div>
        <div class="grid__cell grid__cell-c4-r1">
          <div class="grid__cell-img">
            <div class="grid__cell-img-inner" style="background-image:url(/image/chinaM.jpg)" data-item="item-3"></div>
          </div>
        </div>
        <div class="grid__cell grid__cell-c1-r2">
          <div class="grid__cell-img">
            <div class="grid__cell-img-inner" style="background-image:url(/image/taiwanM.jpg)" data-item="item-4"></div>
          </div>
        </div>
        <div class="grid__cell grid__cell-c3-r2">
          <div class="grid__cell-img">
            <div class="grid__cell-img-inner" style="background-image:url(/image/josunM.jpg)" data-item="item-5"></div>
          </div>
        </div>
        <div class="grid__cell grid__cell-c2-r3">
          <div class="grid__cell-img">
            <div class="grid__cell-img-inner" style="background-image:url(/image/josunW.jpg)" data-item="item-6"></div>
          </div>
        </div>
        <div class="grid__cell grid__cell-c4-r3">
          <div class="grid__cell-img">
            <div class="grid__cell-img-inner" style="background-image:url(/image/japanM.jpg)" data-item="item-7"></div>
          </div>
        </div>
        <div class="grid__cell grid__cell-c1-r4">
          <div class="grid__cell-img">
            <div class="grid__cell-img-inner" style="background-image:url(/image/japanW.jpg)" data-item="item-8"></div>
          </div>
        </div>
        <div class="grid__cell grid__cell-c3-r4">
          <div class="grid__cell-img">
            <div class="grid__cell-img-inner" style="background-image:url(/image/chinaW.jpg)" data-item="item-9"></div>
          </div>
        </div>
        <div class="grid__cell grid__cell-c3-r5">
          <div class="grid__cell-img">
            <div class="grid__cell-img-inner" style="background-image:url(/image/taiwanW.jpg)" data-item="item-10"></div>
          </div>
        </div>
      </div>

    </main>
  </div>
</html>
